.whole {
    /* main background color */
    background-color: rgb(164, 179, 224);
}

.container {
    /* content container color */
    background-color: rgba(255, 255, 255, 0.735);
}

.container1 {
    /* content container color */
    background-color: rgba(255, 255, 255, 0.735);
}

.container2 {
    /* content container color */
    background-color: rgba(255, 255, 255, 0.735);
}