.heading{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.external-links{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.link1{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.link2{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.link3{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.heading1{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.heading2{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.home{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.next{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.pageback{font-family:Verdana, Geneva, Tahoma, sans-serif;}

.nextpage{font-family:Verdana, Geneva, Tahoma, sans-serif;}

a{color: rgb(4, 46, 125);font-size: large;}
a:hover{color: crimson;}

