@import url('./background-color.css');
@import url('./images.css');
@import url('./fonts.css');

.whole {
    display: grid;
    height: fit-content;
    width: 100%vw;
    grid-template-rows: 13vw 45vw 30vw 7vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "head head head head"
        "img img img img"
        "cont cont cont cont"
        "pback pback home home";
    grid-gap: 7px;

}


.heading {
    text-align: center;
    grid-area: head;
}

.container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    border: 3px solid black;
    grid-area: cont;
}

.container p {
    text-decoration: underline;
    color: rgb(99, 150, 167);
}

.pageback {
    border: 2px solid rgb(0, 187, 255);
    padding: 4px;
    grid-area: pback;
    text-align: center;
}

.home {
    border: 2px solid rgb(0, 187, 255);
    padding: 4px;
    grid-area: home;
    text-align: center;
}

@media(max-width:550px) {
    .whole {
        grid-template-columns: 1fr;
        grid-template-rows: 15vw 40vw 60vw 9vw 9vw;
        grid-template-areas:
            "head"
            "img"
            "cont"
            "pback"
            "home";

        font-size: 85%;

    }
}

@media(max-device-width:550px) {
    .whole {
        grid-template-columns: 1fr;
        grid-template-rows: 15vw 40vw 60vw 7vw 7vw;
        grid-template-areas:
            "head"
            "img"
            "cont"
            "pback"
            "home";


        font-size: 90%;
    }
}